@import url(components/slick.css);
@font-face {
  font-family: "proximanova-bold";
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "proximanova-regular";
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.aligncenter {
  margin: 0 auto;
}

/* Team overview tweaks */
.teams-overview .listing-item {
  margin: 5px 0;
}

.panel-title a {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 480px) {
  .teams-overview .listing-item {
    text-align: center;
  }
  .teams-overview .listing-item a.title {
    display: block;
    margin: 5px 0;
  }
}

/* Image sizes and alignments */
.entry-content img,
.comment-content img,
.widget img {
    max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full {
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
p img{
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
#news article.post .wp-post-image {
  width: 275px;
  height: 206px;
}

#menu-sponsor-acties {margin: 0; padding: 0;
	list-style-type: none; list-style-image: none; }
#menu-sponsor-acties li {display: inline; }

/* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%; }

/* line 11, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

/* line 15, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
body {
  background: #e7ecf1;
  font-family: "proximanova-regular", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #5c5f66;
  font-size: 16px;
  line-height: 21px;
  margin: 0; }

/* line 23, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
img {
  border: 0px; }

/* line 26, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: normal;
  color: #2771c5; }

/* line 30, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
h1 {
  font-size: 24px;
  line-height: 21px;
  margin-bottom: 19px; }

/* line 34, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
h2 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px; }

/* line 19, /Users/Tom/Desktop/Projecten/US/middleman/source/css/main.css.sass */
section {
  margin-top: 30px; }

/* line 39, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
.container {
  margin: 0 auto; }
  /* line 15, /Library/Ruby/Gems/2.0.0/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
  .container:before, .container:after {
    content: " ";
    display: table; }
  /* line 19, /Library/Ruby/Gems/2.0.0/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
  .container:after {
    clear: both; }

/* line 43, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
.white {
  background: white; }

/* line 46, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
ul, li {
  padding: 0;
  margin: 0; }

/* line 49, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/base.sass */
li {
  list-style: circle; }

/* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding: 0 30px 30px 30px; }
  @media only screen and (max-width: 767px) {
    /* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      padding: 0 20px 20px 20px; } }

/* line 8, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background: #2771c5; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* line 8, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
      -webkit-box-shadow: inset 0 -4px 0 white;
      box-shadow: inset 0 -4px 0 white; } }

/* line 13, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
.dropdown-menu {
  font-size: 16px; }

/* line 16, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
.breadcrumb {
  font-size: 14px;
  padding: 5px 10px;
  background: #f3f5f8; }

/* line 21, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
a {
  color: #2771c5; }

@media only screen and (max-width: 800px) {
  /* line 27, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
  table.scroll {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    width: 100%; }
    /* line 35, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    table.scroll th, table.scroll td {
      margin: 0;
      vertical-align: top; }
    /* line 39, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    table.scroll th {
      text-align: left; }
    /* line 42, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    table.scroll thead {
      display: block;
      float: left; }
    /* line 45, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    table.scroll tr {
      display: block;
      width: 100%;
      position: relative;
      overflow-x: hidden;
      white-space: nowrap; }
    /* line 51, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    table.scroll th {
      display: block;
      text-align: right; }
    /* line 54, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    table.scroll tr {
      display: inline-block;
      vertical-align: top; }
      /* line 57, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
      table.scroll tr td {
        display: block;
        text-align: left; }
        /* line 60, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
        table.scroll tr td:first-child {
          font-family: "proximanova-bold", "Helvetica Neue", Helvetica, arial, sans-serif; }
    /* line 63, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    table.scroll th {
      border-bottom: 0;
      border-left: 0; }
    /* line 66, /Users/Tom/Desktop/Projecten/US/middleman/source/css/base/bootstrap-reset.sass */
    table.scroll td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; } }
/* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
#nav {
  background: #2771c5;
  height: 64px; }

/* line 5, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
.navbar-brand {
  padding: 5px 10px; }
  @media only screen and (max-width: 320px) {
    /* line 8, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
    .navbar-brand img {
      height: 42px;
      padding-top: 6px; } }

/* line 12, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
.navbar-inverse {
  border: none; }
  /* line 16, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
  .navbar-inverse .navbar-nav > li .dropdown-menu {
    border: none; }
    /* line 20, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
    .navbar-inverse .navbar-nav > li .dropdown-menu > li > a {
      padding: 5px 20px 5px 10px;
      color: #5c5f66; }
      /* line 23, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
      .navbar-inverse .navbar-nav > li .dropdown-menu > li > a:hover {
        background: white;
        color: #2771c5; }
    @media only screen and (max-width: 767px) {
      /* line 16, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
      .navbar-inverse .navbar-nav > li .dropdown-menu {
        display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* line 31, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
    .navbar-inverse .navbar-nav > li:hover .dropdown-menu {
      display: block; } }
  @media only screen and (min-width: 1024px) {
    /* line 34, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
    .navbar-inverse .navbar-nav > li:hover .dropdown-menu {
      display: block; } }
  /* line 36, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
  .navbar-inverse .navbar-nav > li > a {
    height: 24px;
    padding: 20px 0 44px;
    color: white;
    font-family: "proximanova-bold", "Helvetica Neue", Helvetica, arial, sans-serif;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      /* line 44, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
      .navbar-inverse .navbar-nav > li > a.active, .navbar-inverse .navbar-nav > li > a:hover {
        -webkit-box-shadow: inset 0 -4px 0 white;
        box-shadow: inset 0 -4px 0 white; } }
    @media only screen and (min-width: 1024px) {
      /* line 48, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
      .navbar-inverse .navbar-nav > li > a.active, .navbar-inverse .navbar-nav > li > a:hover {
        -webkit-box-shadow: inset 0 -4px 0 white;
        box-shadow: inset 0 -4px 0 white; } }
    @media only screen and (max-width: 767px) {
      /* line 36, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
      .navbar-inverse .navbar-nav > li > a {
        padding: 0px 0 30px 10px; } }
  /* line 54, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
  .navbar-inverse .navbar-toggle {
    margin-top: 14px;
    border: 2px solid white; }
    /* line 57, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background: none; }
  /* line 60, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
  .navbar-inverse .navbar-collapse {
    border: none;
    background: #2771c5; }
    /* line 64, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/nav.sass */
    .navbar-inverse .navbar-collapse li {
      padding-left: 12px; }

/* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/footer.sass */
footer {
  background: #5c5f66;
  padding: 21px 0; }
  /* line 5, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/footer.sass */
  footer li {
    float: left;
    margin-left: 20px; }
    /* line 9, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/footer.sass */
    footer li:first-child {
      margin-left: 0; }
    /* line 11, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/footer.sass */
    footer li a {
      color: white;
      font-size: 14px; }
      /* line 15, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/footer.sass */
      footer li a:hover, footer li a:focus {
        color: white; }

/* line 18, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/footer.sass */
#content {
  min-height: 100%;
  margin-bottom: -64px; }

/* line 22, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/footer.sass */
#content:after {
  content: "";
  display: block; }

/* line 26, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/footer.sass */
footer, #content:after {
  /* .push must be the same height as footer */
  height: 64px; }

/* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/elements.sass */
.btn {
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 20px;
  margin-top: 21px;
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, arial, sans-serif;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2); }
  /* line 8, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/elements.sass */
  .btn.primary {
    background: #2771c5;
    color: white; }
  /* line 11, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/elements.sass */
  .btn.secundary {
    background: #737780;
    color: white; }

/* line 15, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/elements.sass */
.dotted {
  margin-left: 20px; }
  /* line 17, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/elements.sass */
  .dotted li {
    list-style: disc; }

/* line 20, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/elements.sass */
table {
  max-width: 100%; }

/* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/table.sass */
table {
  width: 100%; }
  /* line 4, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/table.sass */
  table.table-striped > tbody > tr:nth-child(odd) > td, table .table-striped > tbody > tr:nth-child(odd) > th {
    background: #f3f5f8; }
  /* line 7, /Users/Tom/Desktop/Projecten/US/middleman/source/css/components/table.sass */
  table td, table th {
    padding: 3px 5px 4px; }

/* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/header.sass */
section#header {
  margin-top: 64px;
  margin-bottom: -64px; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    /* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/header.sass */
    section#header {
      margin-bottom: 0; } }
  @media only screen and (max-width: 480px) {
    /* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/header.sass */
    section#header {
      margin-bottom: 0; } }
  /* line 8, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/header.sass */
  #header img {
    width: 100%;
    min-width: 100%; }
  /* line 11, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/header.sass */
  #header div {
    width: 100%;
    min-height: 200px;
    height: 480px;
    background-position: top center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important; }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      /* line 11, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/header.sass */
      #header div {
        height: 360px; } }
    @media only screen and (max-width: 480px) {
      /* line 11, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/header.sass */
      #header div {
        height: 240px; } }
  /* line 22, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/header.sass */
  #header iframe {
    width: 100%;
    min-width: 100%;
    height: 480px; }

/* line 2, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
#news .container {
  position: relative;
  height: 275px;
  overflow: hidden;
  padding: 0; }
/* line 7, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
#news nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999; }
  /* line 12, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
  #news nav li {
    float: left;
    margin-left: 1px; }
/* line 15, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
#news #panel {
  height: 275px;
  position: absolute;
  left: 0; }
  /* line 21, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
  #news #panel article {
    min-width: 275px;
    height: 275px;
    float: left;
    border-right: 1px solid #e7ecf1;
    position: relative; }
    /* line 27, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
    #news #panel article img {
      max-width: 275px;
      -webkit-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
    @media only screen and (min-width: 769px) {
      /* line 32, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
      #news #panel article:hover img {
        margin-top: -20px; }
      /* line 34, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
      #news #panel article:hover .caption {
        height: 120px;
        background: #2771c5;
        color: white;
        z-index: 1; }
        /* line 39, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
        #news #panel article:hover .caption h1, #news #panel article:hover .caption h2 {
          color: white; }
        /* line 41, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
        #news #panel article:hover .caption h2 {
          display: block; }
        /* line 43, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
        #news #panel article:hover .caption a {
          color: white;
          text-decoration: none; } }
    /* line 47, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
    #news #panel article .caption {
      background: white;
      position: absolute;
      bottom: 0px;
      width: 275px;
      padding: 20px;
      height: 80px;
      overflow: hidden;
      -webkit-transition: height 400ms ease-in-out;
      -o-transition: height 400ms ease-in-out;
      transition: height 400ms ease-in-out; }
      /* line 57, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
      #news #panel article .caption h1, #news #panel article .caption h2 {
        color: #5c5f66;
        line-height: 21px; }
      /* line 60, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
      #news #panel article .caption h1 {
        font-size: 18px;
        margin: 0; }
      /* line 64, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
      #news #panel article .caption h2 {
        font-size: 16px;
        font-family: "proximanova-regular", "Helvetica Neue", Helvetica, arial, sans-serif;
        margin: 0;
        margin-top: 15px;
        display: none; }

/* line 71, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
small.label {
  line-height: 2; }

/* line 75, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
#nieuws .slider {
  margin-bottom: 40px; }
  /* line 77, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
  #nieuws .slider .slick-dots {
    bottom: -30px; }
/* line 82, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
#nieuws #articles h1 {
  font-size: 18px;
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, arial, sans-serif;
  margin: 0;
  margin-top: 15px; }
/* line 87, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
#nieuws #articles table {
  border-top: 1px solid #e7ecf1; }
  /* line 89, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
  #nieuws #articles table h1 {
    margin-top: 0; }
  /* line 91, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
  #nieuws #articles table img {
    margin-right: 10px; }
/* line 93, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
#nieuws #articles tr {
  border-bottom: 1px solid #e7ecf1; }
/* line 96, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/news.sass */
#nieuws #articles td {
  padding: 10px 0; }

/* line 1, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
#sidebar {
  padding-top: 20px; }
  /* line 3, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
  #sidebar a.heading {
    font-size: 24px;
    line-height: 21px;
    margin-bottom: 19px;
    font-family: "proximanova-bold", "Helvetica Neue", Helvetica, arial, sans-serif; }
    /* line 8, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
    #sidebar a.heading:hover {
      color: #2771c5;
      text-decoration: none;
      cursor: default; }
  /* line 13, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
  #sidebar span.caret {
    display: none; }
  @media only screen and (max-width: 767px) {
    /* line 16, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
    #sidebar a.heading:hover {
      cursor: pointer; }
    /* line 19, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
    #sidebar span.caret {
      display: inline-block; } }
  /* line 21, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
  #sidebar .nav {
    margin-top: 20px; }
    /* line 23, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
    #sidebar .nav > li {
      float: none;
      margin-bottom: 10px; }
      @media only screen and (max-width: 767px) {
        /* line 23, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
        #sidebar .nav > li {
          margin-bottom: 0; } }
      /* line 28, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
      #sidebar .nav > li > a {
        color: #5c5f66;
        padding: 4px 10px 3px;
        -webkit-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
        /* line 32, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
        #sidebar .nav > li > a.active, #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
          background: #f3f5f8;
          color: #2771c5; }

/* line 36, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
#detail, #nieuws {
  -webkit-box-shadow: inset 1px 0 0 #e7ecf1;
  box-shadow: inset 1px 0 0 #e7ecf1; }
  /* line 38, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
  #detail iframe, #nieuws iframe {
    width: 100%;
    height: 480px;
    border: none; }

@media only screen and (max-width: 767px) {
  /* line 43, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sidebar.sass */
  .collapsable {
    display: none; } }

/* line 2, /Users/Tom/Desktop/Projecten/US/middleman/source/css/sections/sponsors.sass */
#sponsors .col-md-12 {
  overflow: hidden; }

/* line 22, /Users/Tom/Desktop/Projecten/US/middleman/source/css/main.css.sass */
#main {
  position: relative;
  z-index: 998;
  margin-top: 0; }
  /* line 26, /Users/Tom/Desktop/Projecten/US/middleman/source/css/main.css.sass */
  #main.no-header {
    padding-top: 94px; }
@media only screen and (max-width: 767px) {
  #main.no-header {
    padding-top: 0; }
}
/* line 29, /Users/Tom/Desktop/Projecten/US/middleman/source/css/main.css.sass */
#sponsors {
  margin-bottom: 40px; }
  /* line 32, /Users/Tom/Desktop/Projecten/US/middleman/source/css/main.css.sass */
  #sponsors .row .col-md-12 {
    padding-bottom: 0; }
  /* line 34, /Users/Tom/Desktop/Projecten/US/middleman/source/css/main.css.sass */
  #sponsors .row .col-md-2 {
    padding-top: 0; }
